<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title></title>
  </head>
  <body>
    <h1>This is the landing page for AppTrack</h1>
    <h2>Needs a better name</h2>
    <h2>Will include information about what the site does</h2>
    <br>
    <b3>Which are you?</b3>
    <a href="/developers/login"><span>Developer looking for a project</span></a>
    <a href="/businesses/login"><span>Business submitting a project proposal</span></a>
  </body>
</html>
