<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styleindex.css">
    <title></title>
  </head>

  <body>

    <!-- Navigation-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Capstone Knex</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <div class="nav-right">
            <button class="btn btn-outline-warning" type="button" id="devloginbutton">Developer Login</button>
            <br>
            <button class="btn btn-outline-warning" type="button" id="busloginbutton">Business Login</button>
          </div>
        </div>
      </div>
    </nav>
    <!-- HERO-->

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Capstone Knex</h1>
            <p class="lead">Connecting local Buisnesses with up and coming Developers to reach their develepment goals.</p>
        </div>
      </div>
    <!-- What we do -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">What We Do</h1>
          <p class="lead">Galvanize connects with local businesses in the Phoenix Area to help develop technologies. </p>
      </div>
    </div>


    <h1>This is the landing page for AppTrack</h1>
    <h2>Needs a better name</h2>
    <h2>Will include information about what the site does</h2>
    <br>
    <b3>Which are you?</b3>
    <a href="/developers/login"><span>Developer looking for a project</span></a>
    <a href="/businesses/login"><span>Business submitting a project proposal</span></a>
  </body>
</html>
