<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Business Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styleindex.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <!-- Navigation-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Capstone Knex</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a href="/logout">
            <button class="btn btn-outline-warning" type="button" id="devloginbutton">Logout</button>
          </a>
        </div>
      </div>
    </nav>
    <div class="container">

      <h1 class="header"> New Project:</h1>

      <form id="new-project" action="/projects/new" method="post">
        <br>
        <div class="form-row">
          <div class="form-group">
            <label for="company-name-input">
              Company Name</label>
            <input type="text" class="form-control" id="company-name-input" placeholder="Company Name" name="company_name" required>
          </div>
          <div class="form-group">
            <label for="company-url-input">Company Website</label>
            <input type="tel" class="form-control" id="company-url-input" placeholder="Company Website" name="company_url">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="stack-pref-input">
              What stack/ languages/ frameworks do you prefer for this project?</label>
            <input type="text" class="form-control" id="dev-type-input" placeholder="Preferred Technologies" name="stack_pref">
          </div>
          <div class="form-group">
            <label for="dev-type-input">
              Is this a data science or web development project?</label>
              <br>
            <select class="center" name="dev_type" id="dev-type-input">
              <option value="" selected></option>
              <option value="Full Stack Web Developer">Full Stack Web Developer</option>
              <option value="Data Scientist">Data Scientist</option>
            </select>
          </div>
        </div>

      
        <button type="submit" class="btn btn-primary">Register</button>
      </form>










      <form action="/newproject" method="post">
        <div class=""><input type="text" name="short_description" placeholder="Short Description" required></div>
        <div class=""><input type="radio" name="developer-type" value="Data Science" required></div>
        <div class=""><input type="radio" name="developer-type" value="Web Development" required></div>
        <div class=""><input type="text" name="preferred-stack" placeholder="Preferred Stack" required></div>
        <div class=""><input type="text" name="full-descripiton" placeholder="Full Descripiton" required></div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
