<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Project</title>
  </head>
  <body>
    <h1> New Project:</h1>
      <form action="/newproject" method="post">
        <div class=""><input type="text" name="short_description" placeholder="Short Description" required></div>
        <div class=""><input type="radio" name="developer-type" value="Data Science" required></div>
        <div class=""><input type="radio" name="developer-type" value="Web Development" required></div>
        <div class=""><input type="text" name="preferred-stack" placeholder="Preferred Stack" required></div>
        <div class=""><input type="text" name="full-descripiton" placeholder="Full Descripiton" required></div>
    <button type="submit">Submit</button>
      </form>
  </body>
</html>
