<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project Info</title>
  </head>
<body>
  <div class="nav">
    <a href="/index">Home</a>
    <a href="/logout">Logout</a>
  </div>
  <div class="">
      <div class="">
     <h2><%=  %></h2> <!-- COMPANY LOGO?? -->
     <h3><%=  %></h3>
   </div>
 </div>
   <h2>Project Details:</h2>

     <div class = "card">
       <div class="project-description">
         <h2><%= project.full_description %></h2>
         <p><b>Contact Info:</b></p>

       </div>
       <a class ="button" href="/DEVHOMEPAGE>">Accept</a>
       <a class ="button" href="/dev_login>">Dropped</a>
     </div>
  

</body>
</html>
